---
layout: default
---
<article class="feature">
</article>

<!--<h2 class="headline--recent">Recent:</h2>-->
{% for post in paginator.posts %}
  {% if post.hanging %}
    <article class="entry entry--hanging-photo">
  {% else %}
    <article class="entry">
  {% endif %}
      <div class="entry__photo">
        <img src="{{ site.baseurl }}/images/{{ post.image }}"/>
      </div>
      <div class="entry__info">
	      <h2 class="entry__title">{{ post.title }}<a href="{{post.url}}"><i class="entry__link" alt="Link to Post" aria-label="Link to Post"></i></a></h2>
        <div class="entry__meta">
          <div class="meta__item meta__item--posted">{{ post.date | date: '%Y %b %d' }}</div>
	  <div class="meta__item meta__item--captured">{% if post.captured %}{{ post.captured | date: '%Y %b %d' }}{% else %}{{ post.date | date: '%Y %b %d' }}{% endif %}</div>
          <div class="meta__item meta__item--category">{{ post.category }}</div>
	  <div class="meta__item meta__item--author">{% if post.author %}{{ post.author }}{% else %}Lucas Roe{% endif %}</div>
          <div class="meta__item meta__item--tags">{% if post.tags %}{% for tag in post.tags %}{{ tag | capitalize }}</a>{% if forloop.last != true %}, {% endif %}{% endfor %}{% endif %}</div>
        </div>
        <div class="entry__text">
          {{ post.content }}
        </div>
      </div>
    </article>
{% endfor %}
{% if paginator.total_pages > 1 %}
<nav class="pagination">
    {% if paginator.previous_page %}
    <a class="pagination__link pagination__link--newer" aria-label="Newer Posts" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#x1f448;</a>
    {% else %}
    {% endif %}
    <span class="pagination__page-number">{{paginator.page}} of {{ paginator.total_pages}}</span>
    {% if paginator.next_page %}
      <a class="pagination__link pagination__link--older" aria-label="Older Posts" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#x1F449;</a>
    {% else %}
    {% endif %}
</nav>
{% endif %}
</main>
