.ruler{
  display: none;
  background-color: $brand;
  height: 1rem;
  position:fixed;
  top:0;
  left:0;
  width: 64rem;
  z-index: 100;

}
.feed-entry{
  @extend %site-width;
  padding:0;
  background-color: $brand;
  margin-top: 1em;
}
.entry__photo{
  padding:1.5rem;
}
.entry__info{
  background-color: $grey-10;
  padding:1.5rem;
}
.entry__title{
  color: $brand;
}
.entry__link:after{
  display: inline-block;
  margin-left: 0.25em;
  width: 0.5em;
  height: 0.5em;
  font-size: 0.5em;
  content: '\01F517';
}
.entry__meta{
  background-color: $grey-9;
  border-radius: 10px;
  @media #{$tablet}{
    @include display(flex);
    @include flex-wrap(wrap);
  }
}
.meta__item{
  padding: 1rem;
  margin:0;
  border: 1px solid $grey-10;
  content: '';
  &:before{
    font-weight: bold;
    margin-right: 0.5em;
    text-transform:uppercase;
  }
  @media #{$tablet}{
    @include flex-basis(50%);
  }
}
.meta__item--posted{
  &:before{
    content:'Posted';
  }
}

.meta__item--captured{
  &:before{
    content:'Captured';
  }
}
.meta__item--category{
  &:before{
    content:'Category';
  }
}
.meta__item--author{
  &:before{
    content:'Poster';
  }
}
.meta__item--tags{
  @include flex-basis(100%);
  line-height: 1.5;
  &:before{
    content: 'Tags';
  }
  padding-bottom: 1em;
}
.entry--hanging-photo{
  //@include display(flex);
}
.entry--hanging-photo .entry__photo,
.entry--hanging-photo .entry__info{
  margin:0;
}
.entry--hanging-photo .entry__photo{
  @media #{$broad}{
    max-width: 25rem;
    position: absolute;
    left: -5rem;
  }
}
.entry--hanging-photo .entry__info{
  margin-top: 1em;
  @media #{$broad}{
    width: 30rem;
    position: relative;
    left: 20rem;
  }
}
