.pagination{
    background-color: $brand;
    color: $brand-9;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$broad}{
	background-color: transparent;
	color: $brand-1;
        right: 1em;
	width: 1em;
	padding:0;
	top:50%;
	bottom: auto;
	flex-wrap: wrap;
	&>*{
	    width: 100%;
        }
    }
}

.pagination__link, .pagination__page-number, .pagination__separator{
    margin: 0 0.5em;
    text-align: center;
}

.pagination__page-number{
    margin-top:0;
    text-align: center;
}

.pagination__separator:after{
    content:"";
    display: inline-block;
    border-left: 1px solid $brand-6;
    width: 1px;
    height: 1em;
    left: 0.25em;
    transform: rotate(15deg);
    @media #{$broad}{
	transform: rotate(90deg);
	border-color: $brand-8;
    }
}
